<!doctype html>
<html>
  <head>
    <title>helloseed Stat</title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="js/stat/date.js"></script>
    <script src="js/stat/area.js"></script>
    <script src="js/stat/pie.js"></script>
  </head>
  <body>
    <div>
      <input id="start" />
      <input id="end" />
      <select id="unit">
        <option>Hour</option>
        <option>Day</option>
        <option>Month</option>
        <option>Year</option>
      </select>
      <select id="field">
        <option>sourceType</option>
        <option>sourceName</option>
        <option>linkDomain</option>
      </select>
      <button id="query" class="k-button">Query</button>
    </div>
    <hr>
    <div id="area"></div>
    <div id="pie"></div>
  </body>
</html>